@import url("https://fonts.googleapis.com/css?family=Audiowide");
@import url("https://fonts.googleapis.com/css?family=Days+One");
@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  min-height: 100%;
}

img {
  max-width: 100%;
}

#aboutProfilePic {
  max-height: 300px;
  border-radius: 300px;
}

form {
  width: 35rem;
}

.nav-title-font {
  font-family: "Days One";
  font-size: 1.9em;
}

.top-title {
  font-family: "Oswald";
  margin-top: 20px;
}

.navbar-nav > li {
  margin-left: 4rem;
  margin-right: 1rem;
}

nav li {
  cursor: pointer;
}

#container{
  padding: 30px!;
}

.container {
  width: 85%;
  max-width: 1200px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

#card-data {
  padding-top: 50px;
  justify-content: space-around;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-flow: row wrap;
  padding: 10px;
  align-content: flex-start;
}

.card {
  background-color: var(--white);
  border-radius: 5px;
  height: 400px;
  margin: 2rem;
  position: relative;
  width: 400px;
  box-shadow: 0 2px 2px var(--cultured), 0 6px 12px var(--cultured);
}

.card .img-container {
  height: 75%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  background-color: var(--white);
}

.card .img-container img {
  width: 100%;
  padding: 25px;
  margin-bottom: 20px;
  background-color: var(--white);
}

.card .content {
  font-size: 18px;
  background-color: var(--white);
  color: var(--cadet-blue);
  font-weight: bold;
  text-align: center;
}

.card-title {
  margin-top: 10px;
  color: var(--eerie-black);
}

.project-title {
  color: var(--cultured);
  background-color: var(--white);
}

.project-icons-container {
  background-color: var(--white);
}

.project-icon {
  background-color: var(--white);
  padding: 5px;
}

.topics {
  font-size: small;
  font-style: italic;
  color: var(--cultured);
  background-color: var(--white);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding: 20px;
}

.img-thumbnail {
  width: auto;
  height: 300px;
  margin-bottom: 50px;
  cursor: pointer;
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

a {
  border-radius: 5px;
  color: white!;
  font-weight: 600;
  padding: 2px 4px;
  margin-left: -2px;
  margin-right: -2px;
}

 